
/* / * / */
 
body {
  background-color: gray;
  margin: 0;
  border: 0;
}

/* -- <img>logo -- */

#luckyshrublogo {
  max-width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 2em;

}
  
#luckyshrubtopdiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4em;
}

/* -- </img> logo-- */

/* -- <nav> -- */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
   text-align: center;
   position: relative;
  overflow: hidden;
}
.nav li {
  font-family: "Poppins",sans-serif;
  display: inline-block;
  font-size: 2.5vmin;
  margin: 0 0.2em;
}
.nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #080808;
  padding:.5em 0
}

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #009999; 
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.nav a:hover::before {
  transform: scaleX(1);
}

.nav a:hover {
  color: #009999; 
  transition-delay: 0.2s;
}

  /* -- </nav> -- */
}

/* QUIT USING <br/> TAGS FOR SPACING ELEMENTS IN HTML PAGES BRO! IT'S BEEN YEARS AND YOU'VE KNOWN WHAT ELSE COULD BE DONE. STOP BEING LAZY! */

#quitusingbrtags {
  padding-top: 6em;
  padding-bottom: 6em;
}

#plantsmainbannerdiv {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
   position: relative;
}

#plantsmainbanner {
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-items: center;
 
}


hr {
  background-color: #009999; 
  height: 5px;
  border: none;
}

.offeringwelcome {
  text-align: center;
  padding-top: 2.5em;
  text-decoration: underline overline;

}

.offeringwelcome h1 {
font-weight: 900;
}


/* // */

.offeringdivcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2em;
 
}

.service {
  width: calc(33.33% - 10px);
  padding: 1.9em;
  box-sizing: border-box;
}

.service img {
  width: 100%;
}

.service h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.service p {
  font-size: 14px;
  margin: 0;
  text-align: center;
} 

/*  ~~ Below is a Media Query for better user experience on viewports less than 768px wide, starting at tablets and iPads at 768px and then following down to 320px-480px for mobile devices. A very common technique for responsive design. ~~ */

/* ~~ */

@media screen and (max-width: 768px) {
  .service {
    width: 100%;
  }
  .service:not(:last-child) {
    margin-bottom: 40px;
  }
}

/* ~~ */


/* <footer> */

#smallerluckyshrublogo {
  max-width: 4.7%; 
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

 .copyrightbox {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.9vmin;
  float: left;
  }

.copyrightp {
float: left;
font-family: "Poppins",sans-serif;
}

.footerflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

#luckyshrubcolor {
  color: #009999; 
  -webkit-text-stroke: 0.8px black;

}

/* </footer> */